<div class = "container mx-auto pt-5 flex justify-center aligun-center">
  <h1 class = "col-6 col-sm-12 mx-auto font-bold pt-5 text-center">プロフィール編集</h1>
  <% if @user.errors.any? %>
    <div class = "col-6 col-sm-12 mx-auto">
      <%= @user.errors.count %>件のエラーが発生しました
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "col-6 mx-auto pt-3">
    <%= form_with model: @user do |f| %>
      <div class = "mb-1">
        <div class = "pt-5 pb-1">
          <label for = "name">名前</label>
        </div>
          <%= f.text_field :name, class: "form-control", id: "name" %>
      </div>
      <div class = "mb-1">
        <div class = "pt-5 pb-1">
          <label for = "email">メールアドレス</label>
          <%= f.email_field :email, class: "form-control", id: "email" %>
        </div>
      </div>
      <div class = "mb-1">
        <div class = "pt-5 pb-1">
          <label for = "image">アバター</label>
        </div>
        <div class = "btn">
           <%= f.file_field :profile_image, accept: "image/*", id: "image"%>
        </div>
      </div>
      <div class = "mb-1">
        <div class = "pt-2 pb-3">
          <%= image_tag @user.get_profile_image(100,100), class: "d-block rounded-circle img-fluid"; %>
        </div>
      </div>
      <div class = "pb-5 text-center">
        <div class = "pt-4">
          <%= f.submit "編集", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>