<!-- ユーザー詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザー投稿一覧 -->

   <div class="card-list-container py-5">
      <% @parking.each do |parking| %>
      <div class="card w-75 mx-auto mt-4 shadow-lg">
        <%= link_to parking_path(parking.id) do %>
          
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <%= image_tag parking.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
              <p><i class="fas fa-user"><%= parking.user.name %></i><p>
            </div>
            <div class="col-9">
              <p class="card-title">
                 <%= link_to(parking_path(parking.id), class: "text-dark") do %>
                  <strong><i class="far fa-flag"></i><span><%= parking.spot_name %></span></strong></br>
                  <%= parking.address %>
                <% end %>
              </p>
              <p class="card-text">どんな駐車場？</br><%= parking.caption %></p>
              
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>