   <div class="card-list-container w-50 py-5 mx-auto mb-5">
      <% @parking.each do |parking| %>
      <div class="card w-75 mx-auto mt-4 shadow-lg">
        <div class="card-body">
          <div class="row mx-auto">
            <div class="col-lg-4 col-sm-12 mx-auto text-center">
              <%= image_tag parking.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
              <p><i class="fas fa-user"><%= parking.user.name %></i><p>
            </div>
            <div class="col-lg-7 col-sm-12">
              <p class="card-title">
                 <%= link_to(parking_path(parking.id), class: "text-dark") do %>
                  <strong><i class="far fa-flag"></i><span><%= parking.spot_name %></span></strong></br>
                  <%= parking.address %>
                <% end %>
              </p>
              <p class="card-text"><strong>どんな駐車場？</strong></br><%= parking.caption %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class = "text-center">
      <%= paginate @parking %>
    </div>
<div class = "container">
  <div class = "row">
    <div class = "col-12 text-center">
      <h2>地図検索</h2>
    </div>
  </div>
  <div class = "row mb-3">
    <div class = "col-12 text-center">
      <input id="address" type="textbo" placeholder = "住所・探したい地名で検索">
      <input type="button" value="検索" onclick="codeAddress()">
    </div>
  </div>
  <div class = "row mx-auto">
    <div class = "col-12">
      <div id='map'></div>

      /*<style>*/
      /*#map {*/
      /*  height: 600px;*/
      /*  width: 600px;*/
      /*  margin: 0 auto;*/
      /*  margin-bottom: 30px;*/
      /*}*/
      /*</style>*/

      /*<script>*/
      /*  let map*/

      /*  function initMap() {*/
      /*    geocoder = new google.maps.Geocoder()*/

      /*    map = new google.maps.Map(document.getElementById('map'), {*/
      /*      center: {lat: 35.6809591, lng:139.7673068},*/
      /*      zoom: 15,*/
      /*    });*/

      /*    marker = new google.maps.Marker({*/
      /*      position:  {lat: 35.6809591, lng:139.7673068},*/
      /*      map: map*/
      /*    });*/

      /*    <% @parking.each do |parking|%>*/
      /*      ( function() {*/
              let markerLatLng = { lat: <%= parking.latitude %>, lng: <%= parking.longitude %> }; // 緯度経度のデータ作成
      /*        let marker = new google.maps.Marker({*/
      /*          position: markerLatLng,*/
      /*          map: map*/
      /*        });*/
      /*        let infowindow = new google.maps.InfoWindow({*/
      /*          position: markerLatLng,*/
      /*          content: "<a href='<%= parking_url(parking.id) %>' target='_blank'><%= parking.address %></a>"*/
              }); //ここで詳細ページへのリンクを表示させる
      /*        marker.addListener('click', function() {*/
      /*          infowindow.open(map, marker);*/
      /*        });*/

      /*       })();*/
      /*    <% end %>*/
      /*  }*/
      /*  let geocoder*/

      /*  function codeAddress(){*/
      /*    let inputAddress = document.getElementById('address').value;*/

      /*    geocoder.geocode( { 'address': inputAddress}, function(results, status) {*/
      /*      if (status == 'OK') {*/
      /*        map.setCenter(results[0].geometry.location);*/
      /*        var marker = new google.maps.Marker({*/
      /*            map: map,*/
      /*            position: results[0].geometry.location*/
      /*        });*/
      /*      } else {*/
      /*        alert('該当する結果がありませんでした：' + status);*/
      /*      }*/
      /*    });*/
      /*  }*/
      /*</script>*/
      /*<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>*/
    </div>
  </div>
</div>