<div class = "container mx-auto pt-5 flex justify-center aligun-center">
  <h1 class = "col-6 col-sm-12 mx-auto font-bold pt-5 text-center">New パーキング</h1>
  <% if @parking.errors.any? %>
    <div class = "col-6 col-sm-12 mx-auto">
      <%= @parking.errors.count %>件のエラーが発生しました
      <ul>
        <% @parking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "col-6 mx-auto pt-3">
    <%= form_with model: @parking do |f| %>
      <div class = "mb-1">
        <div class = "pt-5 pb-1">
          <label for = "spot_name">スポット名</label>
        </div>
          <%= f.text_field :spot_name, class: "form-control", id: "spot_name" %>
      </div>
      <div class = "mb-1">
        <div class = "pt-5 pb-1">
          <label for = "address">住所</label>
        </div>
          <%= f.text_field :address, class: "form-control", id: "address" %>
      </div>
      <div class = "mb-1">
        <div class = "pt-5 pb-1">
          <label for = "caption">どんな駐車場？</label>
        </div>
          <%= f.text_area :caption, class: "form-control", id: "caption" %>
      </div>
      <div class = "mb-1">
        <div class = "pt-5 pb-1">
          <label for = "image">写真</label>
        </div>
        <div class = "btn">
           <%= f.file_field :parking_image, accept: "image/*", id: "image"%>
        </div>
      </div>
      <div class = "pb-5 justify-center align-center">
        <div class = "text-center pt-5">
          <%= f.submit '     投稿    ', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
