<div class = "container w-50 mx-auto pt-5 px-5 flex justify-center aligun-center">
  <div class = "row-sm-6 pt-5 pb-2">
    <div class = "flex inline-flex hover:underline">
      <%= link_to parkings_path do %>
        <p class = "mr-2">⬅️<span>戻る</span></p>
      <% end %>
    </div>
  </div>
  <div class = "row border-bottom border-dark flex justify-center aligun-center">
    <div class = "col-sm-6">
      <p class = "pl-2 mx-auto"><strong><i class="far fa-flag mr-2"></i><span><%= @parking.spot_name %></span></strong>
    </div>
    <div class = "col-sm-6 text-right">
      <% if @parking.favorited_by?(current_user) %>
        <p>
          <%= link_to parking_favorite_path(@parking), method: :delete do %>
            ♥️<%= @parking.favorites.count %>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to parking_favorite_path(@parking), method: :post do %>
            ♡<%= @parking.favorites.count %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
  <div class = "row border-bottom border-dark mt-2">
    <div class = "col-12">
      <p><strong>住所</strong></p>
      <p></p><%= @parking.address %></p>
    </div>
    <div class = "col-12 center-block mb-5">
      <div id="map"></div>
      <style>
      #map {
        height: 500px;
        width: 500px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      </style>


      <script>
        function initMap(){
          // 地図の位置情報(緯度・経度)を取得
          let mapPosition = {lat: <%= @parking.latitude %> , lng: <%= @parking.longitude %> };
          let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: mapPosition
          });
          let transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          let contentString = '【住所】<%= @parking.address %>';
          let infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          let marker = new google.maps.Marker({
            position: mapPosition,
            map: map,
            title: contentString
          });

          marker.addListener('click', function(){
            infowindow.open(map, marker);
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
  </div>
  </div>
  <div class = "row border-bottom border-dark mt-2">
    <div class = "col-12">
      <p><strong>どんな駐車場？</strong></p>
      <p></p><%= @parking.caption %></p>
    </div>
  </div>
  <div class = "row border-bottom border-dark mt-2">
    <div class = "col-12">
      <p><strong>投稿画像</strong></p>
      <div class = "img-container text-center">
        <p><%= image_tag @parking.get_parking_image(300, 300) %></p>
      </div>
    </div>
  </div>
  <div class = "row pb-5">
    <div class = "col-12">
      <p><strong>投稿日</strong>：<%= @parking.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>
  <div class = "row pb-5">
    <div class = "col-12">
      <div class = "text-center d-grid gap-2 d-md-block">
        <% if @parking.user == current_user %>
          <%= link_to "  削除  ", parking_path(@parking), method: :delete, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

</div>